*{
    margin: 0;
    padding: 0;
    font-family:'Poppins',sans-serif;
    box-sizing:content-box;
  
}

#whole
{
    background: url("form_bg.jpg") no-repeat center center/cover ;
   
}

#top
{
    margin-left: 2vh;
    font-size: 3rem;
    color: aliceblue;
}

form
{
     margin-top: 6rem;
    margin-left: 35rem;
    width: 480px;
    height: 62vh;
    padding-top: 25px;
    padding-left: 40px;
    border: 3px solid white;
    background-color: gainsboro ;
    border-radius: 20px;
    list-style: none;
    color: darkblue; 
   
    
}

#name
{
    margin: 10px;
    margin-left: 178px;
    padding: 5px;
    border: none;
}

#contact
{
    margin: 10px;
    margin-left: 136px;
    padding: 5px;
    border: none;
}

#email
{
    margin: 10px;
    margin-left: 174px;
    padding: 5px;
    border: none;
}

#password
{
    margin: 10px;
    margin-left: 150px;
    padding: 5px;
    border: none;
}

#confirm
{
    margin: 10px;
    margin-left: 90px;
    padding: 5px;
    border: none;
}

#male
{
    margin: 10px;
    margin-left: 160px;
}

#submit
{
    margin-top: 2rem;
    margin-left: 12rem;
    padding: 1vh;
    border-radius: 12px;
    border: none;
}

.danger
{
    color: red;
    font-size: small;
    margin-left: 32vh;
}










@media screen and (max-width:1000px)
{
    #top{
        font-size: 1.2rem;
    }

    form
    {
        margin-top: 3rem;
        margin-left: 23rem;
        width: 45vh;
        height: 67vh;
        padding-top: 25px;
        padding-left: 15px;
    }

    .label
    {
        display: flex;
        font-size: 0.75rem;
        margin-top: 5px;
    }

    .label2
    {
        font-size: 0.75rem;
    }

    .input
    {
        margin-top: 0%;
    }

    .danger
    {
        color: red;
        font-size: 0.65rem;
        margin-left: 20vh;
        padding-top: 20px;
    }

    #name
    {
        margin: 1px;
        margin-left: 120px;
        padding: 0.5px;
        border: none;
        height: 0.75rem;
        width: 22vh;
        font-size: 0.65rem;
    }

    #contact
    {
        margin: 0px;
        margin-left: 120px;
        padding: 0.5px;
        border: none;
        height: 0.75rem;
        width: 22vh;
        font-size: 0.65rem;
    }

    #email
    {
        margin: 0.5px;
        margin-left: 100px;
        margin-left: 120px;
        padding: 0.5px;
        border: none;
        height: 0.75rem;
        width: 22vh;
        font-size: 0.65rem;
    }

    #password
    {
        margin: 0.5px;
        margin-left: 120px;
        padding: 0.5px;
        border: none;
        height: 0.75rem;
        width: 22vh;
        font-size: 0.65rem;
    }

    #confirm
    {
        margin: 0.5px;
        margin-left: 120px;
        padding: 0.5px;
        border: none;
        height: 0.75rem;
        width: 22vh;
        font-size: 0.65rem;
    }

    #male
    {
        margin: 10px;
        margin-left: 10px;
        margin-bottom: 5vh;
    }

    #submit
    {
        height: 2vh;
        width: 6vh;
        font-size: 0.65rem;
        margin-top: 1vh;
    }
}