*{
    margin: 0;
    padding: 0;
    font-family:'Poppins',sans-serif;
    box-sizing:content-box;
}

#whole
{
    background-image: url("form_bg.jpg");
}

#top
{
    margin-left: 2vh;
    font-size: 3rem;
    color: aliceblue;
}

form
{
    margin-top: 6rem;
    margin-left: 25rem;
    width: 450px;
    height: 62vh;
    padding-top: 25px;
    padding-left: 40px;
    border: 3px solid white;
    background-color: gainsboro ;
    border-radius: 20px;
    list-style: none;
    color: darkblue;
}

#name
{
    margin: 10px;
    margin-left: 174px;
    padding: 5px;
    border: none;
}

#contact
{
    margin: 10px;
    margin-left: 141px;
    padding: 5px;
    border: none;
}

#email
{
    margin: 10px;
    margin-left: 172px;
    padding: 5px;
    border: none;
}

#password
{
    margin: 10px;
    margin-left: 148px;
    padding: 5px;
    border: none;
}

#confirm
{
    margin: 10px;
    margin-left: 90px;
    padding: 5px;
    border: none;
}

#male
{
    margin: 10px;
    margin-left: 160px;
    margin-bottom: 5vh;
}

#submit
{
    margin-top: 2rem;
    margin-left: 12rem;
    padding: 1vh;
    border-radius: 12px;
    border: none;
}

#namedanger
{
    color: red;
    font-size: small;
    margin-left: 32vh;
}

#phonedanger
{
    color: red;
    font-size: small;
    margin-left: 32vh;
}

#maildanger
{
    color: red;
    font-size: small;
    margin-left: 32vh;
}

#passdanger
{
    color: red;
    font-size: small;
    margin-left: 32vh;
}

#confirmdanger
{
    color: red;
    font-size: small;
    margin-left: 32vh;
}

@media screen and (max-width:1000px)
{
    #top{
        font-size: 1.2rem;
    }

    form
    {
        margin-top: 3rem;
        margin-left: 15rem;
        width: 40vh;
        height: 50vh;
        padding-top: 25px;
        padding-left: 40px;
    }

    #name
    {
        margin: 10px;
        margin-left: 174px;
        padding: 5px;
        border: none;
    }
}